/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lemon&family=Mogra&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Port+Lligat+Slab&family=Rubik:ital,wght@0,300..900;1,300..900&family=Unbounded:wght@200..900&display=swap');


/*Header*/

*{
    font-family: "Rubik", sans-serif;
}

.header-eee{
    max-height: 400px;
}

.header-eee .name-eee{
    opacity: 20;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.781);
    height: 100px;
    width: 100%;
}

.header-eee .name-eee .logo{
    position: absolute;
    width: 96px;
    top: 30px;
    left: 50px;
}

.header-eee .photo-eee {
    z-index: -1;
    top: -100px;
    position: relative; /* Ensure positioning context */
    width: 100%; /* Match the container width */
    height: 380px; /* Set a fixed height */
    overflow: hidden; /* Clip overflowing content */
}

.header-eee .photo-eee .photo .building{
    
    width: 100%; /* Ensure it fills the container horizontally */
    object-fit: cover; /* Keep the aspect ratio and fill the container */
    position: absolute; /* Absolute positioning for animation */
    top: 0; /* Reset positioning */
    left: 0; /* Reset positioning */
    width: 100%;
    height: 380px;
    animation: zoom;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1); /* Normal scale */
    }
    50% {
        transform: scale(1.5); /* Scale up */
        top: 30px;
    }
    100% {
        transform: scale(1); /* Back to normal */
    }
}

.popup{
    animation: popup;
    animation-duration: 0.9s;
}

.header-eee .photo-eee .hod-eee{
    animation: popup;
    animation-duration: 0.9s;
    position: absolute;
    right: 10px;
    top: 140px;
    background-color: rgba(255, 255, 255, 0.772);
    padding: 20px;
    border-radius: 10px;
}

.header-eee .photo-eee .hod-eee .text{
    margin-left: 20px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.header-eee .photo-eee .hod-eee a{
    padding: 5px 20px;
    border-radius: 20px;
}

.header-eee .photo-eee .hod-eee .hod{
    width: 140px;
}

.header-eee .red-line{
    width: 100%;
    height: 30px;
    top: 350px;
    position: absolute;
}




/*Footer*/

footer .footer-gray{
    display: flex;
    flex-direction: row;
    background-color: rgb(35, 35, 35);
    justify-content: space-evenly;
}

footer .footer-gray .logo img{
    width: 120px;
}

footer .footer-gray .map{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer .footer-gray .map p{
    margin: 2px;
}

footer .footer-gray .text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer .footer-gray .text p{
    text-align: center;
}

footer .footer-gray .text .space{
    width: 100%;
    height: 10px;
}

footer .footer-gray .text .footer-icons{
    display: flex;
    justify-content: center;
}

footer .footer-gray .text .footer-icons svg{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: white;
    border-radius: 2px;
}


/*Body*/

.event-title{
    margin: 50px;
    color: black;
    padding: 10px 30px 30px 30px;
    border-radius: 20px;
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.674);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation: popup;
    animation-duration: 0.9s;
}

@keyframes popup {
    from{
        opacity: 0;
        scale:0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.event-title .change-position .image{
    max-width: 350px;
    height: 250px;
    overflow: hidden;
}

.event-title .change-position figure{
    position: relative;
    left: 0;
    width: 500%;
    animation: 10s slide infinite;
}

@keyframes slide{
    0%{
        left: 0;
    }
    10%{
        left: 0;
    }
    20%{
        left: -100%;
    }
    30%{
        left: -100%;
    }
    40%{
        left: -200%;
    }
    50%{
        left: -200%;
    }
    60%{
        left: -300%;
    }
    70%{
        left: -300%;
    }
    80%{
        left: -400%;
    }
    90%{
        left: -400%;
    }
    100%{
        left: -0%;
    }
}

.event-title .change-position figure .slide{

    position: relative;
    width: 20%;
    float: left;
}


.event-title .change-position figure .slide img{
    width: 100%;
    height: 100%;
}





/*Phone*/


@media (max-width: 768px) {

    /*Header*/

    .header-eee .name-eee .logo{
        top: 50px;
        width: 60px;
        left: 20px;
    }

    .header-eee .name-eee .ptu-eee{
        scale: 0.8;
    }

    .header-eee .photo-eee{
        top: -100px;
    }

    .header-eee .photo-eee .hod-eee{
        scale: 0.8;
    }

    /*Footer*/

    footer .footer-gray{
        flex-direction: column;
        align-items: center;
    }

    footer .footer-gray .space{
        width: 100%;
        height: 20px;
    }

    footer .footer-gray .map{
        visibility: hidden;
        max-width: 0px;
        max-height: 0px;
        overflow: hidden;
    }

    /*Body*/

    .event-title{
        margin: 10px;
    }

    .event-title .change-position{
        flex-direction: column;
    }
}